<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  <ion-item slot="end" id="itemGrupo">
    <ion-select [(ngModel)]="nota.grupoId" placeholder="Grupo" [style.background-color]="getGrupoColor()" (ionChange)="actualizarGrupo($event)" id="grupoButton">
      <ion-select-option *ngFor="let grupo of grupos" [value]="grupo.id">
        {{ grupo.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item [style.font-size]="'30px'">
    <ion-input placeholder="Titulo" [(ngModel)]="nota.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-textarea placeholder="Contenido" [(ngModel)]="nota.contenido"></ion-textarea>
  </ion-item>

  <ion-img *ngIf="nota.imagenPath" [src]="nota.imagenPath" alt="Imagen de la nota"></ion-img>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="guardarNota()" color="dark">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>  
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    
    <ion-fab-button color="dark">
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="end">

      <ion-fab-button (click)="hacerFoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="borrarNota()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>

  
</ion-content>
