<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ nota.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Título</ion-label>
    <ion-input label="titulo" [(ngModel)]="nota.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Contenido</ion-label>
    <ion-textarea label="contenido" [(ngModel)]="nota.contenido"></ion-textarea>
  </ion-item>

  <ion-button expand="full" (click)="guardarNota()">Guardar Cambios</ion-button>
  <ion-button expand="full" (click)="volverAlInicio()">Volver al inicio</ion-button>
</ion-content>
