<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ nota.titulo || 'Nueva Nota'}}</ion-title>
  <ion-item slot="end" id="itemGrupo">
    <ion-select [(ngModel)]="nota.grupoId" placeholder="grupo" [style.background-color]="getGrupoColor()" (ionChange)="actualizarGrupo($event)" id="grupoButton">
      <ion-select-option *ngFor="let grupo of grupos" [value]="grupo.id">
        {{ grupo.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>

    <!-- <ion-buttons slot="end">
      <ion-button id="grupoButton" (click)="seleccionarGrupo()" [style.background]="getGrupoColor()"></ion-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Titulo" [(ngModel)]="nota.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-textarea placeholder="Contenido" [(ngModel)]="nota.contenido"></ion-textarea>
  </ion-item>

  

  <ion-button expand="full" (click)="guardarNota()">Guardar Cambios</ion-button>
  <ion-button expand="full" (click)="volverAlInicio()">Volver al inicio</ion-button>
</ion-content>
