<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="book" color="yellow"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- LISTA DE NOTAS -->
  <ion-list>
    <ion-item *ngFor="let nota of notas" (click)="verNota(nota)" 
    [style.border-right]="'8px solid ' + getGrupoColor(nota.grupoId)">
      <ion-label>{{ nota.titulo }}</ion-label>
    </ion-item>
  </ion-list>





  <!-- BOTON AÑADIR NOTA -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarNota()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
