<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio - NOTAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let nota of notas" (click)="verNota(nota)">
      <ion-label>{{ nota.titulo }}</ion-label>
      <p>{{ nota.contenido }}</p>
    </ion-item>
  </ion-list>

  <!-- BOTON AÑADIR NOTA -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarNota()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
